.main{
    /* color: white; */
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-top: 10px;
}
.developers-container{
    /* border:2px solid red; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
.cart-container{
    border:2px solid yellow;
    margin-left: 8px;
}